#
# Copyright (c) 2021-present, Trail of Bits, Inc.
# All rights reserved.
#
# This source code is licensed in accordance with the terms specified in
# the LICENSE file found in the root directory of this source tree.
#

install_manifest.txt
Makefile

CMakeLists.txt.user
.vscode
.idea
.cache
cmake-build-debug
cmake-build-release
compile_commands.json

third_party/*
build/*
generated/*

tools/build/*

rellic-build

# LLVM bitcode files
*.ll
*.bc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pyc

# VIM
*.swp
