[submodule "libraries/doctest/src"]
	path = libraries/doctest/src
	url = https://github.com/onqtam/doctest.git
[submodule "libraries/lifting-tool-ci"]
	path = libraries/lifting-tools-ci
	url = https://github.com/lifting-bits/lifting-tools-ci.git
	branch = master