<!DOCTYPE html>

<head lang="en">
    <title>Rellic</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"
        integrity="sha256-kXTEJcRFN330VirZFl6gj9+UM6gIKW195fYZeR3xDhc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/splitpanes@2.4.1/dist/splitpanes.umd.js"
        integrity="sha256-drLR2ET7rR11QqTvg0iA8BeQlu+UHv30ICS/Bk+C5rg=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/splitpanes@2.4.1/dist/splitpanes.css"
        integrity="sha256-Enk7EggDNIYgB+cYyXOpZ3crh1+52zWUgAx2yDV+VNQ=" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script src="/main.js" defer></script>
</head>

<body>
    <template id="list-component">
        <div class="list-container">
            <div class="list-title">
                <input type="button" @click="$emit('delete')" value="x" v-if="showDelete">
                {{ title }}
            </div>
            <ol>
                <template v-for="(item, i) in items">
                    <li>
                        <div class="list-item" v-if="item.id">
                            <input type="button" @click="deleteCommand(i)" value="x">
                            {{ item.label }}
                        </div>
                        <list-comp v-if="Array.isArray(item)" :items="item" title="Fixpoint"
                            :available-commands="availableCommands" :show-delete="true" @delete="deleteCommand(i)">
                        </list-comp>
                    </li>
                </template>
            </ol>
            <div class="list-bottom">
                <select v-model="selected">
                    <option v-for="command in availableCommands" :value="command">{{ command.label }}</option>
                </select>
                <input type="button" @click="addCommand" value="Add">
                <input type="button" @click="addFixpoint" value="Add fixpoint">
            </div>
        </div>
    </template>

    <template id="tree-view">
        <details class="dir-entry">
            <summary>{{ name }}</summary>
            <template v-for="entry in sortedEntries">
                <tree-view v-if="entry.entries" :name="entry.name" :entries="entry.entries">
                </tree-view>
                <button v-if="!entry.entries" :value="entry.path" class="file-entry">{{ entry.name }}</button>
            </template>
        </details>
    </template>

    <div id="app">
        <dialog ref="anghaDialog" @close="anghaClosed">
            <form class="tree-view" method="dialog">
                <template v-for="entry in angha">
                    <tree-view v-if="entry.entries" :name="entry.name" :entries="entry.entries">
                    </tree-view>
                    <button v-if="!entry.entries" :value="entry.path" class="file-entry">{{ entry.name }}</button>
                </template>
            </form>
        </dialog>
        <header>
            <span class="logo">Rellic</span>
            <input type="file" accept=".bc,.ll" @change="selectFile">
            <input type="button" @click="upload" value="Submit" :disabled="!file">
            <input type="button" @click="decompile" value="Decompile" :disabled="!module">
            <input type="button" v-for="action in actions" @click="runAction(action)" :value="action.desc"
                :disabled="!module"><br>
            <input type="button" @click="useDefaultChain" value="Use default chain">
            <input type="button" @click="openAngha" value="Open AnghaBench file">
        </header>
        <main>
            <splitpanes class="default-theme">
                <pane size="20">
                    <list-comp :items="commands" :available-commands="available_commands" :show-delete="false"
                        title="Refinement passes"></list-comp>
                    <input type="button" @click="run" value="Run" :disabled="!ast || !commands">
                    <input type="button" @click="fixpoint" value="Find fixpoint" :disabled="!ast || !commands">
                    <input type="button" @click="clearCommands" value="Clear">
                    <input type="button" @click="stop" value="Stop" :disabled="!running">
                </pane>
                <pane>
                    <div v-html="astView"></div>
                </pane>
                <pane>
                    <div v-html="moduleView"></div>
                </pane>
            </splitpanes>
        </main>
        <footer>
            Status: <code>{{ status }}</code>
        </footer>
    </div>
</body>

</html>