<!DOCTYPE html>

<head lang="en">
    <title>Rellic</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"
        integrity="sha256-kXTEJcRFN330VirZFl6gj9+UM6gIKW195fYZeR3xDhc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/splitpanes@2.4.1/dist/splitpanes.umd.js"
        integrity="sha256-drLR2ET7rR11QqTvg0iA8BeQlu+UHv30ICS/Bk+C5rg=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/splitpanes@2.4.1/dist/splitpanes.css"
        integrity="sha256-Enk7EggDNIYgB+cYyXOpZ3crh1+52zWUgAx2yDV+VNQ=" crossorigin="anonymous">
    <style>
        body,
        html {
            width: 100%;
            height: 100vh;
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }

        .hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .hover-sameaddr {
            text-decoration: underline green wavy;
        }

        .logo {
            font-size: xx-large;
            margin-right: 1em;
        }

        #app {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        header {
            flex-grow: 0;
            padding: 0.5em;
        }

        main {
            flex-grow: 1;
            max-height: 85vh;
        }

        footer {
            flex-grow: 0;
            padding: 0.5em;
        }

        .splitpanes__pane {
            border: 1px solid grey;
            overflow: auto;
        }

        pre {
            margin: 0.5em;
            padding: 0.5em;
        }

        .clang.keyword,
        .llvm.keyword {
            color: blue;
        }

        .clang.typename,
        .llvm.typename {
            color: purple;
        }

        .clang.string-literal,
        .clang.character-literal,
        .llvm.string-literal {
            color: maroon;
        }

        .clang.number,
        .llvm.number {
            color: darkcyan;
        }

        .llvm.comment {
            color: green;
        }

        .list-container {
            border: 1px solid grey;
            border-radius: 0.3em;
            background-color: #00000011;
            margin-top: 0.2em;
            margin-left: 0.2em;
            margin-right: 0.5em;
            margin-bottom: 0.5em;
        }

        .list-item {
            margin: 0.2em;
        }

        .list-title {
            padding: 0.2em;
        }

        .list-bottom {
            padding: 0.2em;
        }

        .dir-entry {
            padding-left: 0.5em;
            cursor: pointer;
        }

        .dir-entry>summary {
            list-style-type: '\1F5C0\FE0E';
        }

        .dir-entry[open]>summary {
            list-style-type: '\1F5C1\FE0E';
        }

        .file-entry {
            margin-left: 0.5em;
            border: none;
            background-color: inherit;
            cursor: pointer;
            display: block;
        }

        .file-entry::before {
            content: '\1F5CE\FE0E';
            padding-right: 0.5em;
            font-size: large;
        }

        dialog {
            width: 50vw;
        }
    </style>
</head>

<body>
    <template id="list-component">
        <div class="list-container">
            <div class="list-title">
                <input type="button" @click="$emit('delete')" value="x" v-if="showDelete">
                {{ title }}
            </div>
            <ol>
                <template v-for="(item, i) in items">
                    <li>
                        <div class="list-item" v-if="item.id">
                            <input type="button" @click="deleteCommand(i)" value="x">
                            {{ item.label }}
                        </div>
                        <list-comp v-if="Array.isArray(item)" :items="item" title="Fixpoint"
                            :available-commands="availableCommands" :show-delete="true" @delete="deleteCommand(i)">
                        </list-comp>
                    </li>
                </template>
            </ol>
            <div class="list-bottom">
                <select v-model="selected">
                    <option v-for="command in availableCommands" :value="command">{{ command.label }}</option>
                </select>
                <input type="button" @click="addCommand" value="Add">
                <input type="button" @click="addFixpoint" value="Add fixpoint">
            </div>
        </div>
    </template>

    <template id="tree-view">
        <details class="dir-entry">
            <summary>{{ name }}</summary>
            <template v-for="entry in entries">
                <tree-view v-if="entry.entries" :name="entry.name" :entries="entry.entries">
                </tree-view>
                <button v-if="!entry.entries" :value="entry.path" class="file-entry">{{ entry.name }}</button>
            </template>
        </details>
    </template>

    <div id="app">
        <dialog ref="anghaDialog" @close="anghaClosed">
            <form class="tree-view" method="dialog">
                <template v-for="entry in angha">
                    <tree-view v-if="entry.entries" :name="entry.name" :entries="entry.entries">
                    </tree-view>
                    <button v-if="!entry.entries" :value="entry.path" class="file-entry">{{ entry.name }}</button>
                </template>
            </form>
        </dialog>
        <header>
            <span class="logo">rellic</span>
            <input type="file" accept=".bc,.ll" @change="selectFile">
            <input type="button" @click="upload" value="Submit" :disabled="!file">
            <input type="button" @click="decompile" value="Decompile" :disabled="!module">
            <input type="button" v-for="action in actions" @click="runAction(action)" :value="action.desc"
                :disabled="!module"><br>
            <input type="button" @click="useDefaultChain" value="Use default chain">
            <input type="button" @click="openAngha" value="Open AnghaBench file">
        </header>
        <main>
            <splitpanes class="default-theme">
                <pane size="20">
                    <list-comp :items="commands" :available-commands="available_commands" :show-delete="false"
                        title="Refinement passes"></list-comp>
                    <input type="button" @click="run" value="Run" :disabled="!ast || !commands">
                    <input type="button" @click="fixpoint" value="Find fixpoint" :disabled="!ast || !commands">
                    <input type="button" @click="clearCommands" value="Clear">
                    <input type="button" @click="stop" value="Stop" :disabled="!running">
                </pane>
                <pane>
                    <div v-html="astView"></div>
                </pane>
                <pane>
                    <div v-html="moduleView"></div>
                </pane>
            </splitpanes>
        </main>
        <footer>
            Status: <code>{{ status }}</code>
        </footer>
    </div>
    <script>
        const { Splitpanes, Pane } = splitpanes
        const dse = {
            id: "dse",
            label: "Dead statement elimination"
        }
        const zcs = {
            id: "zcs",
            label: "Z3 condition simplification"
        }
        const ncp = {
            id: "ncp",
            label: "Nested condition propagation"
        }
        const nsc = {
            id: "nsc",
            label: "Nested scope combination"
        }
        const cbr = {
            id: "cbr",
            label: "Condition-based refinement"
        }
        const rbr = {
            id: "rbr",
            label: "Reach-based refinement"
        }
        const lr = {
            id: "lr",
            label: "Loop refinement"
        }
        const ec = {
            id: "ec",
            label: "Expression combination"
        }
        const nc = {
            id: "nc",
            label: "Condition normalization"
        }

        Vue.component('list-comp', {
            props: ["items", "availableCommands", "showDelete", "title"],
            methods: {
                addCommand() {
                    this.items.push(this.selected)
                },
                deleteCommand(i) {
                    this.items.splice(i, 1)
                },
                addFixpoint() {
                    this.items.push([])
                }
            },
            data() {
                return {
                    selected: null
                }
            },
            template: "#list-component"
        })

        Vue.component('tree-view', {
            props: ["entries", "name"],
            methods: {
                addCommand() {
                    this.items.push(this.selected)
                },
                deleteCommand(i) {
                    this.items.splice(i, 1)
                },
                addFixpoint() {
                    this.items.push([])
                }
            },
            data() {
                return {
                    selected: null
                }
            },
            template: "#tree-view"
        })

        const app = new Vue({
            el: '#app',
            components: { Splitpanes, Pane },
            data: {
                dragging: false,
                ast: null,
                module: null,
                status: "Ready.",
                file: null,
                running: false,
                angha: [],
                available_commands: [
                    dse,
                    zcs,
                    ncp,
                    nsc,
                    cbr,
                    rbr,
                    lr,
                    ec,
                    nc
                ],
                actions: [
                    {
                        url: "/action/remove-phi-nodes",
                        desc: "Remove PHI nodes",
                    },
                    {
                        url: "/action/lower-switches",
                        desc: "Lower switches",
                    },
                    {
                        url: "/action/remove-array-arguments",
                        desc: "Remove array arguments",
                    },
                    {
                        url: "/action/remove-insertvalue",
                        desc: "Remove insertvalue",
                    }
                ],
                commands: []
            },
            computed: {
                astView: function () {
                    if (this.ast) {
                        return this.ast
                    } else if (this.module) {
                        return "Run 'Decompile' to view AST"
                    } else {
                        return "No module loaded"
                    }
                },
                moduleView: function () {
                    if (this.module) {
                        return this.module
                    } else {
                        return "No module loaded"
                    }
                }
            },
            mounted: function () {
                this.loadModule()
                this.loadAST()
                this.loadAngha()
            },
            updated: function () {
                const spans = document.querySelectorAll('[data-provenance],[data-addr]')
                for (let span of spans) {
                    span.addEventListener('mouseover', e => {
                        e.stopImmediatePropagation()
                        span.classList.add('hover')
                        const provenanceAddr = span.dataset.provenance
                        const addr = span.dataset.addr
                        if (!provenanceAddr) { return; }
                        for (let split of provenanceAddr.split(',')) {
                            const provenanceSpans = document.querySelectorAll(`[data-addr='${split}']`)
                            for (let prov of provenanceSpans) {
                                prov.classList.add('hover')
                            }
                        }
                        const addrSpans = document.querySelectorAll(`[data-addr='${addr}']`)
                        if (addrSpans.length > 1) {
                            for (let a of addrSpans) {
                                a.classList.add('hover-sameaddr')
                            }
                        }
                    })
                    span.addEventListener('mouseleave', e => {
                        span.classList.remove('hover')
                        const provenanceAddr = span.dataset.provenance
                        const addr = span.dataset.addr
                        if (!provenanceAddr) { return; }
                        for (let split of provenanceAddr.split(',')) {
                            const provenanceSpans = document.querySelectorAll(`[data-addr='${split}'],[data-addr='${addr}']`)
                            for (let prov of provenanceSpans) {
                                prov.classList.remove('hover')
                                prov.classList.remove('hover-sameaddr')
                            }
                        }
                    })
                }
            },
            methods: {
                loadModule() {
                    (async () => {
                        try {
                            res = await fetch("/action/module", {
                                credentials: "include",
                                method: "GET"
                            })
                            if (res.status != 200) {
                                throw (await res.json()).message
                            }
                            let text = await res.text()
                            this.module = text
                        } catch (e) {
                            this.module = null
                            this.status = e
                        }
                    })()
                },
                loadAST() {
                    (async () => {
                        try {
                            res = await fetch("/action/ast", {
                                credentials: "include",
                                method: "GET"
                            })
                            if (res.status != 200) {
                                throw (await res.json()).message
                            }
                            let text = await res.text()
                            this.ast = text
                        } catch (e) {
                            this.module = null
                            this.status = e
                        }
                    })()
                },
                loadAngha() {
                    (async () => {
                        try {
                            res = await fetch("/action/angha", {
                                credentials: "include",
                                method: "GET"
                            })
                            if (res.status != 200) {
                                throw (await res.json()).message
                            }
                            let json = await res.json()
                            this.angha = json
                        } catch (e) {
                            this.status = e
                        }
                    })()
                },
                selectFile(event) {
                    this.file = event.target.files[0]
                },
                upload() {
                    this.status = "Uploading...";
                    (async () => {
                        try {
                            let res = await fetch("/action/module", {
                                credentials: "include",
                                body: this.file,
                                method: "POST"
                            })
                            if (res.status != 200) {
                                throw (await res.json()).message
                            }
                            this.status = "Loading module text..."
                            res = await fetch("/action/module", {
                                credentials: "include",
                                method: "GET"
                            })
                            let text = await res.text()
                            this.module = text
                            this.ast = null
                            this.status = "Ready."
                        } catch (e) {
                            this.status = e
                            this.module = null
                            this.ast = null
                        }
                    })()
                },
                decompile() {
                    this.status = "Decompiling...";
                    (async () => {
                        try {
                            let res = await fetch("/action/decompile", {
                                credentials: "include",
                                method: "POST"
                            })
                            if (res.status != 200) {
                                throw (await res.json()).message
                            }
                            this.status = "Loading AST..."
                            res = await fetch("/action/ast", {
                                credentials: "include",
                                method: "GET"
                            })
                            if (res.status != 200) {
                                throw (await res.json()).message
                            }
                            let text = await res.text()
                            this.ast = text
                            this.status = "Ready."
                        } catch (e) {
                            this.status = e
                            this.ast = null
                        }
                    })()
                },
                runAction(action) {
                    this.status = `${action.desc}...`;
                    (async () => {
                        try {
                            let res = await fetch(action.url, {
                                credentials: "include",
                                method: "POST"
                            })
                            if (res.status != 200) {
                                throw (await res.json()).message
                            }
                            this.status = (await res.json()).message
                            this.loadModule()
                        } catch (e) {
                            this.status = e
                            this.ast = null
                        }
                    })()
                },
                clearCommands() {
                    this.commands = []
                },
                useDefaultChain() {
                    this.commands = [
                        dse,
                        [zcs, ncp, nsc, cbr, rbr],
                        [lr, nsc],
                        [zcs, ncp, nsc],
                        ec
                    ]
                },
                openAngha() {
                    this.$refs.anghaDialog.showModal()
                },
                anghaClosed(event) {
                    console.log("anghaClosed", event.returnValue)
                    if (event.returnValue) {
                        const path = this.$refs.anghaDialog.returnValue;
                        console.log("path: ", path);
                        (async () => {
                            try {
                                this.status = `Loading ${path}...`
                                this.running = true
                                let res = await fetch("/action/loadAngha", {
                                    credentials: "include",
                                    body: JSON.stringify(path),
                                    method: "POST"
                                })
                                if (res.status != 200) {
                                    throw (await res.json()).message
                                }
                                this.status = "Loading module text..."
                                res = await fetch("/action/module", {
                                    credentials: "include",
                                    method: "GET"
                                })
                                let text = await res.text()
                                this.module = text
                                this.ast = null
                                this.status = "Ready."
                            } catch (e) {
                                this.status = e
                                this.module = null
                                this.ast = null
                            }
                        })()
                    }
                },
                run() {
                    (async () => {
                        try {
                            this.status = "Executing passes..."
                            this.running = true
                            let res = await fetch("/action/run", {
                                credentials: "include",
                                body: JSON.stringify(this.commands),
                                method: "POST"
                            })
                            if (res.status != 200) {
                                throw (await res.json()).message
                            }
                            this.status = (await res.json()).message
                            this.loadAST()
                        } catch (e) {
                            this.status = e
                        } finally {
                            this.running = false
                        }
                    })()
                },
                fixpoint() {
                    (async () => {
                        try {
                            this.status = "Searching fixpoint..."
                            this.running = true
                            let res = await fetch("/action/fixpoint", {
                                credentials: "include",
                                body: JSON.stringify(this.commands),
                                method: "POST"
                            })
                            if (res.status != 200) {
                                throw (await res.json()).message
                            }
                            this.status = (await res.json()).message
                            this.loadAST()
                        } catch (e) {
                            this.status = e
                        } finally {
                            this.running = false
                        }
                    })()
                },
                stop() {
                    (async () => {
                        try {
                            let res = await fetch("/action/stop", {
                                credentials: "include",
                                method: "POST"
                            })
                            if (res.status != 200) {
                                throw (await res.json()).message
                            }
                        } catch (e) {
                            this.status = e
                        }
                    })()
                }
            }
        })
    </script>
</body>

</html>